html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.body {
    width: 100%;
    padding: 80px 15px 0px 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    text-align: center;
    box-sizing: border-box;
}

.normasContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    width: 90%;
    height: auto;
    border: solid 2px transparent;
    border-image: linear-gradient(to right, #4bcbf0, #3c53ef, #15a478, #00d5b4);
    border-image-slice: 1;
    box-sizing: border-box;
    padding: 10px 15px;
    gap: 10px
}

.normasContainer h3, .downloadContainer h3{
    font-size: 1.8rem;
    text-align: center;
    align-self: center;
}

.subtituloNormas{
    color: #4bcbf0;
    font-size: 1.6rem;
    margin-left: 40px;
}

.norma{
    color: black;
    list-style: none;
    font-size: 1.2rem
}

.subnorma{
    list-style:circle ;
    margin-left: 20px;
}

.downloadContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botoesDownload{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px
}

.botaoDownload{
    height: auto;
    width: 170px;
    transition: 0.5s;
}

.botaoDownload:hover{
    transform: scale(102%);
    cursor: pointer;
}

.downloadContainer h3::after {
    content: "";
    display: block;
    width: 120%;
    height: 4px;
    background-color: #4bcbf0;
    border-radius: 60px;
    align-self: center;
    justify-self: center;
}


@media(min-width:450px){


    .botoesDownload{
        flex-direction: row;
        gap: 25px;
    }

    .botaoDownload{
        width: 250px;
    }
}


@media(min-width:768px){
    .botoesDownload{
        flex-direction: row;
        gap: 15px;
    }

    .botaoDownload{
        width: 210px;
    }

}

@media(min-width:1024px){

    .botaoDownload{
        width: 250px;
    }

}

@media(min-width:1440px){
    .botaoDownload{
        width: 300px;
    }
}
